
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.font-raleway{
    font-family: "Raleway", sans-serif;
}
#addSeat{
    display: flex;
}
li{
    display: flex;
    gap: 100px;
    margin: auto;
    text-align: center;
    list-style: numeric;
}
#addSeat{
    display: grid;
    grid-template-columns: 1fr, 1fr ,1fr;
}